<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="cleartype" content="on">

  <link href="css/main.css" rel="stylesheet" type="text/css">
  <link href="css/spacings.css" rel="stylesheet" type="text/css">
  <link href="css/icons.css" rel="stylesheet" type="text/css">

  <script src="js/vendor.js"></script>
  <script src="js/main.js"></script>
  <script src="js/ng-templates.js"></script>
</head>

<body ng-controller="appController">

  <section class="blog-section">
  <div class="blog-wrapper">
    <div class="blog-header">
      <div class="blog-title">
        <h3>Star Wars Blog</h3>
        <span class="subtitle">Brought to you by Rick B</span>
      </div>
      <div class="current-user">
        <!-- <span>Hello {{loggedinuser.name}}</span> -->
        <img src="assets/img/{{loggedinuser.image}}"/>
      </div>
    </div>
    <ul class="blog">
      <li ng-repeat="blogpost in blog" ng-controller="blogpostController" 
          ng-mouseenter="activate()" ng-mouseleave="deactivate()" class="blogpost"
          ng-class="{'inside' : isInside}">

        <div class="blogpost-container">

          <div class="blogpost-leftcol">
            <img src="assets/img/{{blogpost.image}}"/>
          </div>

          <div class="blogpost-rightcol">
            <div class="blogpost-author">
              {{blogpost.author}}
            </div>
            <div class="blogpost-time">
              {{blogpost.pubdatetime}}
            </div>
            <div class="blogpost-body">
              <p>{{blogpost.body}}</p>
            </div>

            <div class="blogpost-comments-container">
              <a href="#" class="comments-link" ng-model="collapsed" ng-click="collapsed=!collapsed"><ng-pluralize count="blogpost.comments.length" when="{
                '0': 'No comments yet',
                '1': '1 comment',
                'other': '{{blogpost.comments.length}} comments'}">
              </ng-pluralize></a>
              <div ng-show="collapsed" class="blogpost-comments">
                <ul class="blogpost-comments-ul">
                  <li ng-repeat="comment in blogpost.comments" class="comment">
                    <div class="comment">
                      <div class="comment-author">
                        {{comment.author}}
                        <img src="assets/img/{{comment.image}}"/>
                      </div> 
                      <div class="comment-time">
                        {{comment.pubdatetime}}
                      </div> 
                      <div class="comment-body">
                        {{comment.body}}
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="commentpost-form">
                <form>
                  <input type="text" ng-model="newcomment" id="newcomment" name="newcomment" \
                          ng-class="{'inside' : isInside}"/>
                  <button ng-click="submitCommentForm()" ng-disabled="newcomment == null">Post</button>
                </form>
                </div>
              </div>

            </div>  
          </div>   

        </div>
      </li>
    </ul>

  </div>
  </section>

  <section class="pam">
    <span>Hello {{world}}</span>
    <foo></foo>
    <bar></bar>
    <div class="mam icon--action-new-task action-icon"></div>
    <div class="mam icon--contact standard-icon"></div>
    <div class="mam icon--custom-1 standard-icon spin-ani"></div>
  </section>
  
  <img class="mam" src="assets/img/R&DUX_Logo.png" width="116" height="102">

</body>
</html>